@import "tailwindcss";

@theme {
  --color-primary: #fb00ff;
  --color-primary-dark: #ee00ff;
  --color-primary-light: #00ffa6;
  --color-accent: #9e9e9e;

  --font-heading: "var(--font-heading)", "system-ui", "sans-serif";
  --font-body: "var(--font-body)", "system-ui", "sans-serif";
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-body);
    color: var(--color-stone-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
